<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Demo app</title>
</head>
<body>
<h1 th:text="'hello ' + ${#strings.capitalize(name)} + '!'" >Hello maeva</h1>
</body>
</html>